<html lang="en">
<head>
<meta charset="utf-8">
    <title>Webpage Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <style>
    *{
 background-image: url('assets/img/melek13.png') !important; 
 opacity:01;
    } 
</style>
</head>

{% block title %}Se connecter-West worlds shirts{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Mercie de vous Connecter</h1>
    <label for="inputEmail"><h1>votre email</h1></label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="email" required autofocus></h1><br><br>
    <label for="inputPassword"><h1>votre mot de passe</h1></label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="mot de passe" required></h1>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <hr>

    <button class="btn btn-lg btn-primary" type="submit">
        Se Connecter
    </button>
</form>
{% endblock %}
