
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{{asset('assets/css/style2.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style1.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   
    <style>
    .main{
 background-image: url('assets/img/1.jpg') !important; 
    } 
</style>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">WEST WORLD SHIRTS</h2>
            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}">Nos produits</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Qis somme nous ?</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('messages')}}">messenger</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_calendar_index')}}">Calendrier</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
            {% if app.user %}
             <a href="{{path('account')}}">Mon compte <small>({{app.user.firstname}})</small></a>  |<a href="{{path('app_logout')}}">Deconnexion</a>
            {% else %}
                <a href="{{path('app_login')}}">connexion</a>  |<a href="{{path('register')}}">Inscription</a>
                {% endif %}
                <a href="{{path('cart')}}"><img src="{{asset('assets/img/shopping-cart.png')}}"height="20px"></a>
                </div>
            </form>
        </div>
        <br><br><br><br>
        <div class="content">
            <h1>Web Design & <br><span>Development</span> <br>Course</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a <a href="{{path('register')}}">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                   <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

                </div>
                    </div>
                </div>
                </div>



                <footer>
               <div class="row">
               <div class="col">
               <img src="" class="logo">
               <p>WEST WORLD SHIRTS
La passion pour le textile, la spécialisation dans la confection des chemises et l‘expérience</p>
               </div>
                <div class="col">
                <h3>office</h3>
                <p>IPTL Road</p>
                <p>km1 Route de sfax, 5170 La Chebba, Tunisie</p>
                <p class="email-id">E-mail: wws@westworldshirts.com</p>
                <h4>Tél.: (+216) 73 643 255</h4>
                <h4>Fax: (+216) 73 641 285</h4>
                </div>
                 <div class="col">
                 <h3>LINKS</h3>
                 <ol>
                 <li><a href="">HOME</a></li>
                 <li><a href="">SERVICES</a></li>
                 <li><a href="">ABOUT US</a></li>
                 <li><a href="">FEATURES</a></li>
                 <li><a href="">CONTACTS</a></li></ol>
                 </div>
                  <div class="col">
                  <h3> Newsletter</h3>
                  <form>
                  <i class="far fa-envelope"></i>
                  <input type="email" placeholder="Enter your email" required>
                  <button type="submit"><i class="fas fa-arrow-right"></i></button>
                  </form>
                    <div class="social-icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
                  </div>
               </div>
                </footer>
              
</body>
</html>
