<head>
<meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
</head>
{% block title %}Création de Newsletter{% endblock %}

<style>
body {
  background-image: url('assets/img/melek2.jpg') !important; 
}
</style>
    <h1>Ecrivez votre newsletter</h1>
    {{form_start(form)}}
        {{form_row(form.name)}}
        <p>Contenu</p>
        <div id="editor"></div>
        {{form_row(form.content)}}<br><br>
        {{form_row(form.categories)}}<br><br>
    {{form_end(form)}}

