
{% block title %} west world shirts {% endblock %}

{% block content %}
<div class="row">
<div class="col-nd-5">
<img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">
</div>
<div class="col-nd-7" my-auto">
<h3>{{product.name}}</h3>
<p>{{product.subtitle}}</p>
<span class="product-page-price">{{(product.price /100)| number_format(2,',','.')}} £ </span>
<hr>
<p>
{{product.description}}
</p>
<a href="{{path('add_to_cart',{'id':product.id})}}" class="btn btn-primary"> ajouter au panier </a>
</div>
<div class="grix xs2 sm3 gutter-0 card">
			<div class="col-xs2 col-sm3">
				<h2>Liste des commentaires</h2>
				{% for comment in product.comments %}
					{% if comment.parent == null %}
						<h3>Commentaire de {{comment.nickname}}</h3>
						<p>Publié le {{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn primary press">Répondre</a></p>

						{# On affiche les réponses #}
						{% for reply in comment.replies %}
							<p>Réponse publiée par {{reply.nickname}} le {{reply.createdAt|date("d/m/Y H:i") }}</p>
							<div>{{reply.content|raw}}</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h2>Ajouter un commentaire</h2>
				{{ form_start(commentForm) }}
				    {{ form_row(commentForm.email) }}
				    {{ form_row(commentForm.nickname) }}
                    <p>Message</p>
                    <div id="editor"></div>
				{{ form_end(commentForm) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
	<script>
		window.onload = () => {
			document.querySelector("#product_contact_title").value = "{{ product.id|raw }}";

			// On met un écouteur d'évènements sur tous les boutons répondre
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
		let caroulix = new Caroulix('#carousel');
		let modal = new Modal('#modale-contact');
	</script>
{% endblock %}